{% extends 'base.html' %} {% block content %}

<main>

    <h1>Manage {{user.first_name}} {{user.last_name}}'s groups</h1>

    {% if user.collab_groups %}

    {% for group in user.collab_groups.all %}
    <div>
        <h3>{{group.name}}</h3>
        <form action="{% url 'group_leave' group.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Leave Group</button>
        </form>
    </div>
    {% endfor %}


    <h4><a class="links" href="{% url 'group_create' %}">Create a new group</a></h4>
    <h4>Join an existing group</h4>
    <form method="post">
        {% csrf_token %}
        {{ add_form.as_p }}
        <button type="submit" class="btn">Add Group</button>
    </form>

    {% else %}
    <h2>You are not a member of a group</h2>
    <h3>Join an existing group - type in their group code</h3>
    <a class="links" href="">Create a new group</a>

    {% endif %}

</main>

{% endblock %}
