{% extends 'base.html' %}



    {% block content %}
    {% load custom_tags %}
<main>
    <a class="links" href="{% url 'recipes_index' collabgroup_id %}">All Recipes</a>
    |
    <a class="links" href="{% url 'recipes_update' collabgroup_id recipe.id %}">Edit recipe</a>
    |
    <a class="links" href="{% url 'recipes_delete' collabgroup_id recipe.id %}">Delete recipe</a>
    
    <h1>{{recipe.title}}</h1>

    {% if recipe.url %}
        <h4><a class="links" href="{{recipe.url}}">Original recipe site</a></h4>
    {% else %}
    {% endif %}

    <h2>Ingredients</h2>
    <ul>
        <li>{{recipe.ingredients|ingredient_linebreaks}}</li>
    </ul>

    <h2>Instructions</h2>
    <ol>
        <li>{{recipe.instructions|ingredient_linebreaks}}</li>
    </ol>

</main>

{% endblock %}