{% extends 'base.html' %}

{% block content %}
{% load custom_tags %}
<a href="{% url 'recipes_index' collabgroup_id %}">All Recipes</a>
<a href="{% url 'meal_calendar' collabgroup_id %}">Meal Plan</a>
<h1>{{recipe.title}}</h1>

{% if recipe.url %}
    <h4><a href="{{recipe.url}}">Original recipe site</a></h4>
{% else %}
{% endif %}

<h2>Ingredients</h2>
<ul>
    <li>{{recipe.ingredients|ingredient_linebreaks}}</li>
</ul>

<h2>Instructions</h2>
<ol>
    <li>{{recipe.instructions|ingredient_linebreaks}}</li>
</ol>

<a href="{% url 'recipes_update' collabgroup_id recipe.id %}">Edit recipe</a>
<a href="{% url 'recipes_delete' collabgroup_id recipe.id %}">Delete recipe</a>

{% endblock %}