{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Planner</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/meal_planner.js' %}"></script>
</head>
<body>
    <nav>

        <div class="nav-header">
            <img src="{% static 'images/inverse-logo.png' %}">
            <p>Meal Planner</p>
        </div>

        <div class="nav-link-container">
            <a class="nav-links" href="{% url 'dashboard' %}">Dashboard</a>
            <a class="nav-links" href="{% url 'user-logout' %}">Logout</a>
        </div>
    </nav>
    
    {% block content %} {% endblock %}   
    
</body>
</html>