{% extends 'base.html' %} {% block content %}

<h1>Dashboard</h1>

{% if user.collab_groups %}

{% for group in user.collab_groups.all %}
<div>
    <h3>{{group.name}}</h3>
    <a href="{% url 'meal_calendar' group.id %}">Meal plan</a>
    <a href="{% url 'group_detail' group.id %}">Group Details</a>
</div>
{% endfor %}

{% else %}
<h2>You are not a member of a group</h2>
<h3>Join an existing group - type in their group code</h3>
<a href="">Create a new group</a>

{% endif %}

<a href="">Manage Groups</a>
<a href="{% url 'user_update' user.id %}">Edit Profile</a>
<a href="{% url 'user-logout' %}">Logout</a>
{% endblock %}
