@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.links{
  color: #e51c23 !important;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline ;
}

.no-meal {
  color: #f8c1c3 !important;
}

.no-meal-clicked {
    background-color: #fdeaeb !important;
    color: #f8c1c3 !important;
}

.scheduled-meal-clicked {
    background-color: #fdeaeb !important;
}

.meal-type {
  text-align: center;
  font-weight: 600;
  color: gray;
}


.header-text {
  color: #a21318 !important;
}

a1 {
  color: #8b1014 !important;
}

.day-name {
  color: #a21318 !important;
  text-align: center;
}

.btn {
  background-color: #c62828 !important;
  color: white;
}

table,
th,
td {
  border: none;
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

table.striped tr {
  border-bottom: none;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.5);
}

table.striped > tbody > tr > td {
  border-radius: 0;
}

table.highlight > tbody > tr {
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

table.highlight > tbody > tr:hover {
  background-color: rgba(242, 242, 242, 0.5);
}

table.centered thead tr th,
table.centered tbody tr td {
  text-align: center;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

td,
th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

@media only screen and (max-width: 992px) {
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */
  }
  table.responsive-table td:empty:before {
    content: "\00a0";
  }
  table.responsive-table th,
  table.responsive-table td {
    margin: 0;
    vertical-align: top;
  }
  table.responsive-table th {
    text-align: left;
  }
  table.responsive-table thead {
    display: block;
    float: left;
  }
  table.responsive-table thead tr {
    display: block;
    padding: 0 10px 0 0;
  }
  table.responsive-table thead tr th::before {
    content: "\00a0";
  }
  table.responsive-table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  table.responsive-table tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  table.responsive-table th {
    display: block;
    text-align: right;
  }
  table.responsive-table td {
    display: block;
    min-height: 1.25em;
    text-align: left;
  }
  table.responsive-table tr {
    border-bottom: none;
    padding: 0 10px;
  }
  table.responsive-table thead {
    border: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.calendar-flex {
  display: flex;
  justify-content: space-between;
}

.calendar-weeks {
  display: flex;
  justify-content: space-between;
}

.calendar-nav {
  margin: auto 0 auto 0;
  text-align: end;
  padding-right: 0.5rem;
}

.calendar-container {
  width: 60vw;
  text-align: center;
}

.calendar-container > table {
  height: 60vh;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.meal-slot:hover{
    background-color: #fdeaeb !important;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.calendar-header > a {
  text-align: end;
  margin-top: auto;
  margin-bottom: auto;
}

.data-display {
  width: 36vw;
  padding-right: 1.5rem;
}
.meal-type {
  width: 5rem;
}

.meal-slot {
  text-align: center;
  width: 8rem;
  height: 8rem;
}

#clicked-meal-slot {
  background-color: #fdeaeb !important;
}

.home-image {
  height: 320px;
  width: 320px;
}

.homepage-links {
  color: black;
  font-size: 48px;
}

.homepage-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.homepage-body > h1 {
  font-size: 64px;
}

.homepage-link-container{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
  background-color: #4c0c0c;
  padding: 1rem;
  font-size: 36px;
  color: white;
}

.nav-header {
  display: flex;
}

nav img {
  padding-right: 3rem;
  height: 60px;
}

nav p {
  margin: auto 0 auto 0;
}

main {
  padding: 1rem
}

.nav-link-container {
  display: flex;
}

.nav-links{
  color: white;
  text-decoration: none;
  margin: auto 40px auto 0;
  font-size: 24px;
}

.homepage-links {
  color: black;
  font-size: 36px;
  text-decoration: none;
  font-weight: 600;
}

.dashboard-groups {
  display: flex;
  justify-content: space-evenly;
}

.group {
  border: solid darkgrey;
  border-radius: 1rem;
  grid-template-columns: 96px 96px;
  grid-template-rows: 64px 64px;
  display: grid;
}

.group > h3 {
  font-size: 32px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.group > a {
  align-items: center;
  margin: auto;
}

.dashboard-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.add-group-form {
  display: flex;
  justify-content: space-between;
}