{% extends 'base.html' %}

{% block content %}

    {% load custom_tags %}

    <h1>{{collab_group.name}}'s Meal Planner</h1>
    <a href="{% url 'dashboard' %}">Back to dashboard</a>

    <h2>Week of: {{ week_days.0|date:"M d" }} - {{ week_days.6|date:"M d" }}</h2>
    <div>
        <a href="{% url 'meal_calendar_with_date' collab_group.id prev_year prev_week %}">Previous Week</a>
        <a href="{% url 'meal_calendar_with_date' collab_group.id next_year next_week %}">Next Week</a>
    </div>

    <div class="calendar-week-view">
        <table>
        <thead>
            <tr>
                <th></th>
                {% for day in week_days %}
                <th class="day-name">{{ day|date:"l" }}<br>{{ day|date:"M d" }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>

            <tr>
                <td class="meal-type">Breakfast</td>
                {% for day in week_days %}
                    <td class="meal-slot">
                        {% with meals=meals_by_day_type|get_item:day.weekday %}
                            {% with meal=meals.B %}
                    {% if meal %}
                        <span class="scheduled-meal" recipe-id="{{ meal.recipe.id }}">{{ meal.recipe.title }}</span>
                    {% else %}
                        <span class="no-meal">No meal assigned</span>
                    {% endif %}
                {% endwith %}
            {% endwith %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td class="meal-type">Lunch</td>
                {% for day in week_days %}
                    <td class="meal-slot">
                        {% with meals=meals_by_day_type|get_item:day.weekday %}
                {% with meal=meals.L %}
                    {% if meal %}
                        <span class="scheduled-meal" recipe-id="{{ meal.recipe.id }}">{{ meal.recipe.title }}</span>
                    {% else %}
                        <span class="no-meal">No meal assigned</span>
                    {% endif %}
                {% endwith %}
            {% endwith %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td class="meal-type">Dinner</td>
                {% for day in week_days %}
                    <td class="meal-slot">
                        {% with meals=meals_by_day_type|get_item:day.weekday %}
                {% with meal=meals.D %}
                    {% if meal %}
                        <span class="scheduled-meal" recipe-id="{{ meal.recipe.id }}">{{ meal.recipe.title }}</span>
                    {% else %}
                        <span class="no-meal">No meal assigned</span>
                    {% endif %}
                {% endwith %}
            {% endwith %}
                    </td>
                {% endfor %}
            </tr>
        </tbody>
        </table>
    </div>

        <div class="recipe-detail-view">
            <h3>Meal for {{meal.date}}</h3>
            <h2>{{meal.recipe.title}}</h2>
            <h4>Ingredients</h4>
            <ul>
                <li>{{meal.recipe.ingredients|ingredient_linebreaks}}</li>
            </ul>
            <h4>Instructions</h4>
            <ol>
                <li>{{recipe.instructions|ingredient_linebreaks}}</li>
            </ol>
            <a href="">Go to recipe</a>
        </div>

        <div id="meal-form">
        <form method="POST">
            {% csrf_token %}

            {{ meal_form.as_p }}
            <input type="submit" value="Assign Meal" />
        </form>
        </div>

        <div id="initial">
            <h4>Select a meal</h4>
        </div>


{% endblock %}